<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<connectionStrings>
  <add name="source" connectionString="Data Source=(local);Initial Catalog=ChangeDetection;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="hash" connectionString="Data Source=(local);Initial Catalog=ChangeDetection;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>
